body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #667eea, #764ba2);
  color: white;
  text-align: center;
}

/* FEED */

.tiktokFeed {
  height: 100vh;
  width: 100%;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

.videoContainer {
  height: 100vh;
  width: 100%;
  scroll-snap-align: start;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.videoContainer video {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/* BOTONES VIDEO */

.videoActions {
  position: absolute;
  right: 15px;
  bottom: 100px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.videoActions button {
  font-size: 18px;
  padding: 8px;
  background: black;
  color: white;
  border: 1px solid white;
  border-radius: 5px;
  cursor: pointer;
}

/* BOTONES GENERALES */

button {
  padding: 10px;
  border: none;
  border-radius: 8px;
  background: #ff4b5c;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background: #ff1f3d;
}