body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: black;
  color: white;
  text-align: center;
}

/* FEED */

.tiktokFeed {
  height: 100vh;
  width: 100%;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

.videoContainer {
  height: 100vh;
  width: 100%;
  scroll-snap-align: start;
  position: relative;
  background: black;
}

.videoContainer video {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/* BOTONES */

.videoActions {
  position: absolute;
  right: 10px;
  bottom: 100px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.videoActions button {
  background: rgba(0,0,0,0.7);
  border: 1px solid white;
  border-radius: 8px;
  padding: 8px;
  font-size: 16px;
  color: white;
}

/* CAMERA */

#cameraPreview {
  width: 90%;
  max-width: 300px;
  border-radius: 10px;
  margin-top: 10px;
}

/* BOTONES GENERALES */

button {
  padding: 10px;
  border: none;
  border-radius: 8px;
  background: #ff4b5c;
  color: white;
  font-weight: bold;
}

button:hover {
  background: #ff1f3d;
}